* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-grayish-blue {
    background-color: #F0F2F7;
}
.bg-grayish-white {
    background-color: #FBFBFD;
}
.bg-black-gradient {
    color: #fbfbfd;
    background: linear-gradient(95.14deg,#FDBF10,#ff6c00 91.74%);
    border: none;
}
.bg-black {
    background-color: #000;
}
img {
    object-fit: cover;
}
.web-btn {
    width: 150px;
    background: linear-gradient(95.14deg,#FDBF10,#ff6c00 91.74%);
    color: #fff;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.web-btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #000;
    background: #fff;
}
.divider {
    border-top: 1px solid #FDBF10;
}
.whatsapp-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
}

/*Navbar Start*/

.navbar-brand {
    font-size: 24px;
}

.nav-link {
    font-size: 18px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
/*Navbar End*/

/*Banner Start*/
.banner-img {
    height: 80vh;
    object-fit: cover;
}
.booking-form-wrapper {
    position: absolute;
    top: 4%;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Banner End*/

/* Services Section Styling Start */

.service-item {
    margin-bottom: 30px;
}

.service-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.service-item h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.service-item p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

.service-item .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fbfbfd;
    background: linear-gradient(95.14deg,#FDBF10,#ff6c00 91.74%);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.service-item .read-more:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #000;
    background: #fff;
    color: #000;
}

/* Services Section Styling End */

.sustain {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
}
.driver-section {
    padding: 5rem 4rem;
}
.driver-section h2 {
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 0 4rem;
}
.driver-section p {
    font-size: 1.25rem;
}
.sustain-section img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.sustain-section p {
    line-height: 38px;
    font-size: 1rem;
}
@media (max-width: 767px) {
    .banner-img {
        height: 40vh;
    }
    .booking-form-wrapper {
        top: 70%;
    }
    .custom-margin {
        margin-top: 440px;
    }
    .driver-section {
        padding: 2rem 1rem;
    }
    .driver-section h2 {
        font-size: 1.2rem;
        padding: 0;
        line-height: 2rem;
    }
}
